root = true

[*]
charset = utf-8
trim_trailing_whitespace = true

[*.{ts,json}]
indent_size = 3
indent_style = tab

[*.test.ts]
trim_trailing_whitespace = false

[README.md]
indent_size = 3
indent_style = space